home.component.html Carregando

<app-users (myCustomEvent)="onMyCustomEventDispatch($event)">
</app-users>

<hr>

<div class="tables-container">

  <div class="table-container">
    <table>
      <caption>
        Odd Users
      </caption>
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="oddUsers.length">
        <tr *ngFor="let user of oddUsersSubject | async ">
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="table-container">
    <table>
      <caption>
        Even Users
      </caption>
      <thead>
      <tr>
        <th>
          #
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="evenUsers.length">
        <tr *ngFor="let user of evenUsersSubject | async">
          <td>
            {{ user.id }}
          </td>
          <td>
            {{ user.name }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

</div>
